html
{
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body
{
    margin-top: 100px;
}

main
{
  /*  height: 1000px;*/
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dateSearch
{
    margin-left: 55px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.dateSearch input
{
    font: inherit;
    font-size: small;
    font-weight: 500px;
}

.dateSearch button
{
    background-color: rgba(0, 0, 0, 0.9);
	border-radius: 6px;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 40px;
    margin-left: 5px;
}

.dateSearch button ion-icon
{
    color: white;
}

.total
{
    border-radius: 6px;
    text-align: center;
    margin: 0px;
}

.total table
{
    width: 100%;
    margin-top: 5%;
    border-collapse: collapse;
    height: 100px;
    table-layout: fixed;
}

.total th
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: x-large;
}

.total td
{
    background-color: rgb(255, 255, 255,0.9);
    margin: 0px;
    padding: 0px;
    color: black;
    font-weight: 500;
    font-size: x-large;
}

.transaction
{
    border-radius: 6px;
    text-align: center;
    margin: 0px;
}

.transaction table
{
    width:90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    table-layout: fixed;
    height: 100%;
}


.transaction th
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin: auto;
    font-size: Medium;
    height: 50px;
}

.transaction td
{
    background-color: rgb(255, 255, 255,0.9);
    margin: 0px;
    padding: 0px;
    color: black;
    font-weight: 600;
    font-size: medium;
    height: 50px;
}

.transaction td input
{
    width: 90%;
    height: 60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.transaction select
{
    width: 95%;
    height: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.transaction button, .menu
{
    background:none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.menuform
{
    display: inline;
    position: absolute;
    background:none;
    height:20px;
    width:20px;
    margin-left:8px;
    margin-top: 0px
}

.menu
{
    position:relative;
    background-color: red;
    margin-top: 0px;
    left: 60px;
    width: 20px;
    height: 20px;
    color: black;
    background: none;
}


.menuform .options
{
    margin-right: 0px;
    margin-top: 0px;
    list-style: none;
    background: none;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
}

.menu:hover + .menuform .options
{
    opacity: 1;
    pointer-events: all;
}

.menuform .options:hover
{
    opacity: 1;
    pointer-events: all;
}

.options li
{
    background-color: white;
    width: 70px;
}

.options li :hover
{
    background-color: rgb(117, 117, 121);
    width: 100%;
}



